body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}

body.modal_is_open {
    overflow: hidden;
}

$mainblue: #130a57;