.countries-block {
    display: inline-block;
    width: 100%;
    text-align: center;

    .countries-block-hero-photo {
        display: block;
        width: 100%;
        height: 90vh;
        background: url(../img/map.jpg);
        background-position: center bottom;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        position: relative;

        .countries-block-title {
            position: absolute;
            top: 32px;
            left: 4%;
            color: #fff;
            text-transform: uppercase;
            text-shadow: 4px 3px 6px rgba(0, 0, 0, 0.6);
            font-size: 70px;
        }
    }

    .countries-list-block {
        display: inline-block;
        width: 80%;
        text-align: left;
        margin-top: 25px;

        .country-block {
            display: inline-block;
            width: 10%;
            margin: 10px 1%;
            text-decoration: none;

            img {
                width: 90%;
                height: auto;
            }

            h3 {
                text-align: center;
                color: #000;
                font-size: 20px;
                margin-top: -10px;
            }
        }
    }
}