footer {
    background-color: $mainblue;
    margin-top: 25px;
    display: inline-block;
    text-align: center;
    width: 100%;

    a {
        img {
            width: 250px;
            height: auto;
            margin: 25px 0 10px;
        }
    }

    p {
        color: #fff;
        margin: 15px 0;
        font-weight: 400;
        font-size: 14px;

        a {
            color: white;
        }
    }
}