.header-links-area {
    display: inline-block;
    width: 100%;
    box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.4);

    .logo-block {
        display: inline-block;
        width: 10%;
        margin: 10px 0;
        margin-left: 2%;

        a {
            img {
                width: 100%;
                height: auto;
                transition: all 0.5s;

                &:hover {
                    transform: scale(1.2);
                }
            }
        }
    }

    .custom-header-menu {
        display: inline-block;
        width: 85%;
        margin-top: 24px;
        font-size: 20px;
        text-align: right;
        list-style: none;

        .menu-item {
            display: inline-block;
            padding: 5px 10px;

            a {
                text-decoration: none;
                color: black;
                font-weight: 600;
                transition: all 0.5s;
                font-size: 16px;


                &:hover {
                    color: $mainblue;
                    font-size: 20px;
                }
            }

            &.current-menu-item {
                background-color: $mainblue;
                border-radius: 15px;
                line-height: 18px;

                a {
                    color: #fff;
                    transform: none;
                }
            }
        }
    }
}