.news-block {
    display: inline-block;
    width: 100%;
    text-align: center;

    .news-block-hero-photo {
        display: block;
        width: 100%;
        height: 90vh;
        background: url(../img/fiat-4322521_1920.jpg);
        background-position: center;
        background-attachment: fixed;
        position: relative;

        .news-block-title {
            position: absolute;
            top: 32px;
            left: 4%;
            color: #fff;
            text-transform: uppercase;
            text-shadow: 4px 3px 6px rgba(0, 0, 0, 0.6);
            font-size: 44px;
        }
    }

    .news-post-block {
        display: inline-block;
        width: 70%;
        margin-top: 25px;
        border-top: 1px solid #000;
        border-bottom: 1px solid #000;

        .news-post-title {
            display: inline-block;
            width: 100%;
            text-decoration: none;
            color: $mainblue;
            font-weight: 500;
            font-size: 36px;
        }

        .news-post-content {
            display: inline-block;
            width: 100%;
            text-align: left;
            margin: 10px 0;

            img {
                display: inline-block;
                width: 25%;
            }

            .news-post-text-block {
                display: inline-block;
                width: 74%;
                padding-left: 15px;

                span {
                    padding: 2px;
                    border-top: 1px solid #000;
                    border-bottom: 1px solid #000;
                }

                p {
                    margin-top: 10px;
                }

                .news-post-read {
                    display: inline-block;
                    width: 100%;
                    text-align: right;
                }
            }
        }
    }

    .news-page-pagination {
        display: inline-block;
        width: 70%;
        text-align: left;
        margin-top: 10px;

        a {
            text-decoration: none;
            color: #fff;
            background-color: $mainblue;
            padding: 3px 8px;
            border-radius: 5px
        }

        span {
            color: #666;
            background-color: $mainblue;
            padding: 3px 8px;
            border-radius: 5px
        }
    }

}