.petrol-price-block {
    width: 70%;
    margin: 30px 15% 0;

    .petrol-price-title {
        display: inline-block;
        text-align: center;
        width: 100%;
        margin-bottom: 15px;
    }
}