.single-page-block {
    display: inline-block;
    width: 100%;
    text-align: center;

    h1 {
        margin: 20px 0;
    }

    .single-page-content {
        display: inline-block;
        width: 70%;

        p {
            text-align: left;
            margin-top: 10px;
        }
    }
}

.country-page-block {
    display: inline-block;
    width: 100%;
    text-align: center;

    .country-page-hero {
        display: inline-block;
        width: 100%;
        position: relative;

        img {
            display: inline-block;
            width: 100%;
            height: auto;
        }

        h1 {
            position: absolute;
            top: 32px;
            left: 4%;
            color: #fff;
            text-transform: uppercase;
            text-shadow: 4px 3px 6px rgba(0, 0, 0, 0.6);
            font-size: 70px;
        }
    }

    .single-page-content {
        display: inline-block;
        width: 70%;

        h2 {
            margin-top: 10px;
        }

        p {
            text-align: left;
            margin-top: 10px;
        }

        figure {
            margin-top: 10px;

            img {
                width: 80%;
                height: auto;
            }
        }
    }
}