.single-page-block {
    display: inline-block;
    width: 100%;
    text-align: center;

    h1 {
        margin: 20px 0;
    }

    .single-page-content {
        display: inline-block;
        width: 70%;

        p {
            text-align: left;
            margin-top: 10px;
        }
    }
}

.country-page-block,
.single-page-block {
    display: inline-block;
    width: 100%;
    text-align: center;

    .country-page-hero {
        display: inline-block;
        width: 100%;
        position: relative;

        img {
            display: inline-block;
            width: 100%;
            height: auto;
        }

        h1 {
            position: absolute;
            top: 32px;
            left: 4%;
            color: #fff;
            text-transform: uppercase;
            text-shadow: 4px 3px 6px rgba(0, 0, 0, 0.6);
            font-size: 70px;
        }
    }

    .single-page-content {
        display: inline-block;
        width: 70%;

        h2 {
            margin-top: 20px;
            text-align: center;
        }

        p {
            text-align: left;
            margin-top: 10px;

            &.table-head {
                text-align: center;
            }
        }

        figure {
            display: inline-block;
            margin-top: 10px;
            text-align: center;

            &.wp-block-table {
                border-top: 1px solid gray;
                border-bottom: 1px solid gray;
            }

            table {
                thead {
                    tr {
                        th {
                            padding: 10px 5px;
                        }
                    }
                }

                tbody {
                    tr {
                        td {
                            padding: 10px 5px;
                        }
                    }
                }
            }

            &.columns-2 {
                width: 60%;
            }

            &.columns-5 {
                width: 90%;
            }

            &.penalty-3 {
                width: 70%;
            }

            img {
                width: 80%;
                height: auto;
                margin: 15px 0 10px;
            }
        }

        ul {
            text-align: left;
        }
    }
}