body,
body * {
  margin: 0;
  padding: 0;
  vertical-align: top;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Noto Sans', sans-serif;
}

header {
  z-index: 9;
  background-color: #fff;
}

header .header-links-area {
  display: inline-block;
  width: 100%;
  -webkit-box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.4);
}

header .header-links-area .logo-block {
  display: inline-block;
  width: 10%;
  margin: 10px 0;
  margin-left: 2%;
}

header .header-links-area .logo-block a img {
  width: 100%;
  height: auto;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

header .header-links-area .logo-block a img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

header .header-links-area .custom-header-menu {
  display: inline-block;
  width: 85%;
  margin-top: 24px;
  font-size: 20px;
  text-align: right;
  list-style: none;
}

header .header-links-area .custom-header-menu .menu-item {
  display: inline-block;
  padding: 5px 10px;
}

header .header-links-area .custom-header-menu .menu-item a {
  text-decoration: none;
  color: black;
  font-weight: 600;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  font-size: 16px;
}

header .header-links-area .custom-header-menu .menu-item a span {
  color: #4267B2;
  font-size: 24px;
  margin-top: -2px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

header .header-links-area .custom-header-menu .menu-item a span:hover {
  font-size: 27px;
}

header .header-links-area .custom-header-menu .menu-item a:hover {
  color: #130a57;
  font-size: 20px;
}

header .header-links-area .custom-header-menu .menu-item.current-menu-item {
  background-color: #130a57;
  border-radius: 15px;
  line-height: 18px;
}

header .header-links-area .custom-header-menu .menu-item.current-menu-item a {
  color: #fff;
  -webkit-transform: none;
          transform: none;
}

header.sticky {
  opacity: 0.9;
  position: fixed;
  width: 100%;
}

header.sticky .logo-block {
  width: 8%;
  margin: 3px 0;
  margin-left: 3%;
}

header.sticky .custom-header-menu {
  margin-top: 12px;
  font-size: 14px;
}

header.sticky .custom-header-menu .menu-item a {
  font-size: 12px;
}

header.sticky .custom-header-menu .menu-item a span {
  font-size: 18px;
  margin-top: -2px;
}

header.sticky .custom-header-menu .menu-item a span:hover {
  font-size: 24px;
}

header.sticky .custom-header-menu .menu-item a img {
  margin-top: -7px;
}

header.sticky .custom-header-menu .menu-item a:hover {
  font-size: 14px;
}

.main-page-block .main-page-hero {
  display: block;
  width: 100%;
  height: 90vh;
  background: url(../img/kl-hero-1.jpg);
  background-position: bottom center;
  background-attachment: fixed;
  position: relative;
}

.main-page-block .main-page-hero .main-page-hero-title {
  position: absolute;
  top: 50px;
  left: 6%;
  color: #fff;
  text-transform: uppercase;
  text-shadow: 4px 3px 6px rgba(0, 0, 0, 0.6);
  font-size: 40px;
}

.main-page-block .main-page-news-block {
  display: inline-block;
  width: 100%;
  text-align: center;
  margin-top: 25px;
}

.main-page-block .main-page-news-block .main-page-news-block-title {
  display: inline-block;
  width: 100%;
  text-decoration: none;
  color: #130a57;
  font-weight: 600;
  font-size: 32px;
}

.main-page-block .main-page-news-block .main-page-news-block {
  display: inline-block;
  width: 60%;
}

.main-page-block .main-page-news-block .main-page-news-block .main-page-news-post-title {
  text-decoration: none;
  display: inline-block;
  width: 100%;
  color: #000;
  font-size: 32px;
  position: relative;
}

.main-page-block .main-page-news-block .main-page-news-block .news-post-date {
  display: inline-block;
  width: 100%;
  text-align: left;
  font-size: 12px;
  border-top: 1px solid #000;
  padding: 5px 0;
}

.main-page-block .main-page-news-block .main-page-news-block img {
  margin: 10px 0;
  width: 100%;
  height: auto;
}

.main-page-block .main-page-news-block .main-page-news-block p {
  text-align: left;
  border-top: 1px solid #000;
}

.main-page-block .main-page-news-block .main-page-news-block .main-page-news-block-read {
  display: inline-block;
  width: 100%;
  text-align: right;
  border-bottom: 1px solid #000;
}

.main-page-block .main-page-links-block {
  display: inline-block;
  width: 100%;
  text-align: center;
  margin-top: 25px;
}

.main-page-block .main-page-links-block .links-block-1 {
  display: inline-block;
  width: 25%;
  margin: 0 15px;
  -webkit-box-shadow: 2px 3px 15px 5px rgba(0, 0, 0, 0.76);
          box-shadow: 2px 3px 15px 5px rgba(0, 0, 0, 0.76);
  text-decoration: none;
  height: 530px;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.main-page-block .main-page-links-block .links-block-1:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.main-page-block .main-page-links-block .links-block-1 img {
  display: block;
  width: 100%;
  height: auto;
}

.main-page-block .main-page-links-block .links-block-1 h2 {
  color: #130a57;
  margin-top: 15px;
}

.main-page-block .main-page-links-block .links-block-1 p {
  margin: 15px;
  color: #000;
}

.main-page-block .main-page-links-block .links-block-2 {
  display: inline-block;
  width: 25%;
  margin: 0 15px;
  -webkit-box-shadow: 2px 3px 15px 5px rgba(0, 0, 0, 0.76);
          box-shadow: 2px 3px 15px 5px rgba(0, 0, 0, 0.76);
  text-decoration: none;
  height: 530px;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.main-page-block .main-page-links-block .links-block-2:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.main-page-block .main-page-links-block .links-block-2 img {
  display: block;
  width: 100%;
  height: auto;
}

.main-page-block .main-page-links-block .links-block-2 h2 {
  color: #130a57;
  margin-top: 15px;
}

.main-page-block .main-page-links-block .links-block-2 p {
  margin: 15px;
  color: #000;
}

.main-page-block .main-page-links-block .links-block-3 {
  display: inline-block;
  width: 25%;
  margin: 0 15px;
  -webkit-box-shadow: 2px 3px 15px 5px rgba(0, 0, 0, 0.76);
          box-shadow: 2px 3px 15px 5px rgba(0, 0, 0, 0.76);
  text-decoration: none;
  height: 530px;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.main-page-block .main-page-links-block .links-block-3:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.main-page-block .main-page-links-block .links-block-3 img {
  display: block;
  width: 100%;
  height: auto;
}

.main-page-block .main-page-links-block .links-block-3 h2 {
  color: #130a57;
  margin-top: 15px;
}

.main-page-block .main-page-links-block .links-block-3 p {
  margin: 15px;
  color: #000;
}

.news-block {
  display: inline-block;
  width: 100%;
  text-align: center;
}

.news-block .news-block-hero-photo {
  display: block;
  width: 100%;
  height: 90vh;
  background: url(../img/fiat-4322521_1920.jpg);
  background-position: center;
  background-attachment: fixed;
  position: relative;
}

.news-block .news-block-hero-photo .news-block-title {
  position: absolute;
  top: 32px;
  left: 4%;
  color: #fff;
  text-transform: uppercase;
  text-shadow: 4px 3px 6px rgba(0, 0, 0, 0.6);
  font-size: 44px;
}

.news-block .news-post-block {
  display: inline-block;
  width: 70%;
  margin-top: 25px;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}

.news-block .news-post-block .news-post-title {
  display: inline-block;
  width: 100%;
  text-decoration: none;
  color: #130a57;
  font-weight: 500;
  font-size: 36px;
}

.news-block .news-post-block .news-post-content {
  display: inline-block;
  width: 100%;
  text-align: left;
  margin: 10px 0;
}

.news-block .news-post-block .news-post-content img {
  display: inline-block;
  width: 25%;
}

.news-block .news-post-block .news-post-content .news-post-text-block {
  display: inline-block;
  width: 74%;
  padding-left: 15px;
}

.news-block .news-post-block .news-post-content .news-post-text-block span {
  padding: 2px;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}

.news-block .news-post-block .news-post-content .news-post-text-block p {
  margin-top: 10px;
}

.news-block .news-post-block .news-post-content .news-post-text-block .news-post-read {
  display: inline-block;
  width: 100%;
  text-align: right;
}

.news-block .news-page-pagination {
  display: inline-block;
  width: 70%;
  text-align: left;
  margin-top: 10px;
}

.news-block .news-page-pagination a {
  text-decoration: none;
  color: #fff;
  background-color: #130a57;
  padding: 3px 8px;
  border-radius: 5px;
}

.news-block .news-page-pagination span {
  color: #666;
  background-color: #130a57;
  padding: 3px 8px;
  border-radius: 5px;
}

.petrol-price-block {
  display: inline-block;
  width: 100%;
  text-align: center;
}

.petrol-price-block .petrol-price-block-hero-photo {
  display: block;
  width: 100%;
  height: 90vh;
  background: url(../img/petrol1.jpg);
  background-position: center;
  background-attachment: fixed;
  position: relative;
}

.petrol-price-block .petrol-price-block-hero-photo .petrol-price-title {
  position: absolute;
  top: 32px;
  left: 4%;
  color: #fff;
  text-transform: uppercase;
  text-shadow: 4px 3px 6px rgba(0, 0, 0, 0.6);
  font-size: 44px;
}

.petrol-price-block .petrol-price-content {
  display: inline-block;
  width: 70%;
  margin-top: 25px;
}

.petrol-price-block .petrol-price-content p {
  margin-top: 10px;
  text-align: left;
}

.petrol-price-block .petrol-price-content figure {
  margin-top: 15px;
}

.petrol-price-block .petrol-price-content figure table tbody td {
  padding: 10px 0;
}

.countries-block {
  display: inline-block;
  width: 100%;
  text-align: center;
}

.countries-block .countries-block-hero-photo {
  display: block;
  width: 100%;
  height: 90vh;
  background: url(../img/map.jpg);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}

.countries-block .countries-block-hero-photo .countries-block-title {
  position: absolute;
  top: 32px;
  left: 4%;
  color: #fff;
  text-transform: uppercase;
  text-shadow: 4px 3px 6px rgba(0, 0, 0, 0.6);
  font-size: 70px;
}

.countries-block .countries-list-block {
  display: inline-block;
  width: 80%;
  text-align: left;
  margin-top: 25px;
}

.countries-block .countries-list-block .country-block {
  display: inline-block;
  width: 10%;
  margin: 10px 1%;
  text-decoration: none;
}

.countries-block .countries-list-block .country-block img {
  width: 90%;
  height: auto;
}

.countries-block .countries-list-block .country-block h3 {
  text-align: center;
  color: #000;
  font-size: 20px;
  margin-top: -10px;
}

.advice-block {
  display: inline-block;
  width: 100%;
  text-align: center;
}

.advice-block .advice-block-hero-photo {
  display: block;
  width: 100%;
  height: 90vh;
  background: url(../img/camping1.jpg);
  background-position: center;
  background-attachment: fixed;
  position: relative;
}

.advice-block .advice-block-hero-photo .advice-block-title {
  position: absolute;
  top: 32px;
  left: 4%;
  color: #fff;
  text-transform: uppercase;
  text-shadow: 4px 3px 6px rgba(0, 0, 0, 0.6);
  font-size: 44px;
}

.advice-block .advice-post-block {
  display: inline-block;
  width: 70%;
  margin-top: 25px;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}

.advice-block .advice-post-block .advice-post-title {
  display: inline-block;
  width: 100%;
  text-decoration: none;
  color: #130a57;
  font-weight: 500;
  font-size: 36px;
}

.advice-block .advice-post-block .advice-post-content {
  display: inline-block;
  width: 100%;
  text-align: left;
  margin: 10px 0;
}

.advice-block .advice-post-block .advice-post-content img {
  display: inline-block;
  width: 25%;
}

.advice-block .advice-post-block .advice-post-content .advice-post-text-block {
  display: inline-block;
  width: 74%;
  padding-left: 15px;
}

.advice-block .advice-post-block .advice-post-content .advice-post-text-block span {
  padding: 2px;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}

.advice-block .advice-post-block .advice-post-content .advice-post-text-block p {
  margin-top: 10px;
}

.advice-block .advice-post-block .advice-post-content .advice-post-text-block .advice-post-read {
  display: inline-block;
  width: 100%;
  text-align: right;
}

.advice-block .advice-page-pagination {
  display: inline-block;
  width: 70%;
  text-align: left;
  margin-top: 10px;
}

.advice-block .advice-page-pagination a {
  text-decoration: none;
  color: #fff;
  background-color: #130a57;
  padding: 3px 8px;
  border-radius: 5px;
}

.advice-block .advice-page-pagination span {
  color: #666;
  background-color: #130a57;
  padding: 3px 8px;
  border-radius: 5px;
}

footer {
  background-color: #130a57;
  margin-top: 25px;
  display: inline-block;
  text-align: center;
  width: 100%;
}

footer img {
  width: 15%;
  height: auto;
  margin: 25px 0 10px;
}

footer p {
  color: #fff;
  margin: 15px 0;
  font-weight: 400;
  font-size: 14px;
}

footer p a {
  color: white;
}
/*# sourceMappingURL=main.css.map */